.reveal .row {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-family: monospace, monospace;
    font-size: 1em;
}
div[property="rdfs:label"] {
    font-weight: bold;
}
p[property="rdfs:comment"] {
    text-align: justify;
    text-justify: inter-word;
}

/*titles*/

#index .c0,
#index .c1,
#index .c2,
#index .c3,
#index .c4,
#index .c5,
#index .c6,
#index .c7,
#index .c8 {}
#index a {}
#index p {
    margin: 0px 0px 0px 1rem;
    padding: 0px;
}
#index h1 {
    font-size: 2rem;
}
#index h2 {
    font-size: 1.75rem;
}
#index h3 {
    font-size: 1.5rem;
}
#index h4 {
    font-size: 1.25rem;
}
#index h5 {
    font-size: 1.0rem;
}
.title {
    font-size: 3rem;
}
#siteloader h1,
#siteloader h2,
#siteloader h3,
#siteloader h4,
#siteloader h5 {
    margin-top: .5rem;
}
#index h1,
#index h2,
#index h3,
#index h4,
#index h5 {
    margin-top: .5rem;
}
ul,
ol,
dl {
    margin-bottom: 0rem;
}
[class$="-1 start"],
[class$="-1"] {
    margin-left: 2.25rem;
}
[class$="-2 start"] {
    margin-left: 3rem;
}
ul[class$="-1 start"],
ul[class$="-1"] {
    list-style-type: circle;
}
ol[class$="-1 start"],
ol[class$="-1"] {
    list-style-type: lower-latin;
}
[class$="-2 start"],
[class$="-2"] {
    margin-left: 3rem;
}
ul[class$="-2 start"],
ul[class$="-2"] {
    list-style-type: square;
}
ol[class$="-2 start"],
ol[class$="-2"] {
    list-style-type: lower-roman;
}
[class$="-3 start"],
[class$="-3"] {
    margin-left: 4rem;
}
ul[class$="-3 start"],
ul[class$="-3"] {
    list-style-type: disc;
}
ol[class$="-3 start"],
ol[class$="-3"] {
    list-style-type: decimal;
}
p,
span {
    text-align: justify;
}
#siteloader p {
    margin-bottom: 0px;
}
#siteloader table {
    margin-left: 1rem;
}
h1 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: #980000;
}
h2 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 24px;
    color: #666666;
}
h3 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 22px;
}
h4 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 19px;
}
h5 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 17px;
}
p,
li {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
hr {
    margin-bottom: 0px;
}
